<a href="https://colab.research.google.com/github/eshchkate/KnowledgeGrpahCourse/blob/master/DistanceToLoc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Загружаем сформированный файлик .csv

In [ ]:
df = pd.DataFrame(pd.read_csv("offers.csv"))
df.drop(['Unnamed: 0'], axis='columns', inplace=True)

Вытаскиваем адреса

In [ ]:
addres = df['Адрес'] 
addres

0             Санкт-Петербург, Социалистическая улица, 21
1                       Санкт-Петербург, улица Салова, 61
2                       Санкт-Петербург, улица Салова, 61
3                       Санкт-Петербург, улица Салова, 61
4                       Санкт-Петербург, улица Салова, 61
                              ...
1080    Санкт-Петербург, пос. Парголово, улица Тихооке...
1081       Санкт-Петербург, Каменноостровский проспект, 6
1082           Санкт-Петербург, Малая Конюшенная улица, 5
1083                   Санкт-Петербург, Кемская улица, 14
1084         Санкт-Петербург, набережная Воскресенская, 4
Name: Адрес, Length: 1085, dtype: object

Находим координаты квартир по адресам

In [ ]:
from geopy.geocoders import Nominatim # вытащить координаты
from geopy.distance import geodesic # посчитать расстояние между двумя геолокациями

In [ ]:
geolocator = Nominatim()

In [ ]:
df.insert(10, "Широта", '', True)
df.insert(11, "Долгота", '', True)
df

Определяем координаты для адресов (не для всех определяет, поэтому блок try)

In [ ]:
lat = []
lon = []
for a in df['Адрес']:
    location = geolocator.geocode(a)
    try:
        lat.append(location.latitude)
        lon.append(location.longitude)
    except AttributeError:
        lat.append("")
        lon.append("")

In [ ]:
len(lat)

1085

In [ ]:
#df['Широта'] = lat
#df['Долгота'] = lon
df

Сзданим новый DataFrame для удобства

In [ ]:
dfs = pd.DataFrame()

Несколько адресов в разных районах, до которы расчитаем расстояние

In [ ]:
a1 = "Кронверкский проспект, 49, Санкт-Петербург" # Горькоская
a2 = "Приморский проспект, 70/1, Санкт-Петербург" # Беговая
a3 = "Заставская улица, 22/2, Санкт-Петербург" # Московские ворота
a4 = "Пискарёвский проспект, 2/2Щ, Санкт-Петербург" # Площадь Ленина
a5 = "Московское шoссе 3/3, Санкт-Петербург" # Звездная
a6 = "Киришская улица, 2А, Санкт-Петербург" # Гражданский проспект
a7 = "Проспект Просвещения 15, Санкт-Петербург" # Проспект Просвещения
a8 = "Проспект Обуховской Обороны, 295А, Санкт-Петербург" # Обухово
a9 = "Улица Оптиков, 4/2, Санкт-Петербург" # Старая деревня
a10 = "Невский проспект, 55, Санкт-Петербург" # Маяковская

In [ ]:
dfs.insert(0, "ID  объявления", df['ID  объявления'], True)
dfs.insert(1, "Адрес квартиры", df['Адрес'], True)
dfs.insert(2, "Широта", lat, True)
dfs.insert(3, "Долгота", lon, True)
dfs.insert(4, "Расстояние до a1", '', True)
dfs.insert(5, "Расстояние до a2", '', True)
dfs.insert(6, "Расстояние до a3", '', True)
dfs.insert(7, "Расстояние до a4", '', True)
dfs.insert(8, "Расстояние до a5", '', True)
dfs.insert(9, "Расстояние до a6", '', True)
dfs.insert(10, "Расстояние до a7", '', True)
dfs.insert(11, "Расстояние до a8", '', True)
dfs.insert(12, "Расстояние до a9", '', True)
dfs.insert(13, "Расстояние до a10", '', True)

In [ ]:
d = []
locationA = geolocator.geocode(a10)
pointA = (locationA.latitude, locationA.longitude)
for row in dfs['Адрес квартиры']:
    locationB = geolocator.geocode(row)
    try:
        pointB = (locationB.latitude, locationB.longitude)
        d.append(geodesic(pointA, pointB).km)
    except AttributeError:
        d.append("")
dfs['Расстояние до a10'] = d # не забывать менять
dfs

      ID  объявления  ... Расстояние до a10
0          245898592  ...           1.32163
1          251716893  ...           5.31602
2          254788472  ...           5.31602
3          229664813  ...           5.31602
4          251716895  ...           5.31602
...              ...  ...               ...
1080       252108909  ...
1081       249902575  ...           3.36931
1082       250301252  ...           1.52513
1083       251569788  ...           6.71619
1084       210367969  ...           2.47916

[1085 rows x 14 columns]

In [ ]:
dfs.to_csv('apart.csv')

In [ ]:
pd.read_csv('apart.csv', delimiter=',')

      Unnamed: 0  ID  объявления  ... Расстояние до a9  Расстояние до a10
0              0       245898592  ...        10.782480           1.321629
1              1       251716893  ...        14.727228           5.316017
2              2       254788472  ...        14.727228           5.316017
3              3       229664813  ...        14.727228           5.316017
4              4       251716895  ...        14.727228           5.316017
...          ...             ...  ...              ...                ...
1080        1080       252108909  ...              NaN                NaN
1081        1081       249902575  ...         6.611418           3.369307
1082        1082       250301252  ...         8.549767           1.525131
1083        1083       251569788  ...         3.256000           6.716189
1084        1084       210367969  ...         9.499998           2.479161

[1085 rows x 15 columns]